#header {
background-color: #d0d0d5;
}
#welcome {
text-align: center;
}
#pdpage {
background-color: #d0d0d5;
height: 80px;
width: 100%;
}
#pdr1 {
height: 80vh;
margin: 0;
}
#pdc1 {
background-color: #d0d0d5;
}
#btdiv {
justify-content: center;
}
.bt1 {
width : 130px;
border : 2px solid blue;
border-radius : 5px;
color : blue;
background-color: white;
text-decoration : none;
}
#cont1 {
height: 80vh;
align-items: center;
justify-content: center;
}

.pnt {
background-color: #72ffd0dd;
border: 2px solid #149b6edd;
height: 35px;
text-align:center;
}
#submit_btn {
width: 190px;
border-radius: 0;
border: 2px solid #da6224;
background-color: #ff9b83;
color: black;
}

#logo {
width: 189px;
padding-top: 26px;
height: 190px;
margin-top: 17px;
}
#home:focus {
background-color: blue;
color: white;
}
#addapp:focus {
background-color: blue;
color: white;
}

.error{
color:red;
}

small{
color:red;
}

.bt1:hover {
    color:white;
    background-color:blue;
    text-decoration : none;
}

.current{
width : 130px;
border : 2px solid blue;
border-radius : 5px;
color : white;
background-color: blue;
text-decoration : none;
}