#header {
background-color: #d0d0d5;
}
#welcome {
text-align : center;
}
#pdpage {
background-color: #d0d0d5;
height : 80px;
width : 100%;
margin: 0px;
}
#pdr1 {
height : 80vh;
margin : 0;
}
#pdc1 {
background-color: #d0d0d5;
}
#btdiv {
justify-content : center;
}
.bt1 {
width : 130px;
border : 2px solid blue;
border-radius : 5px;
color : blue;
background-color: white;
text-decoration : none;
}
#cont1 {
height : 80vh;
align-items : center;
justify-content : center;
}

.pnt {
background-color: #72ffd0dd;
border : 2px solid #149b6edd;
height : 30px;
width : 100px;
padding : 2px;
}

#home : focus {
background-color: blue;
color : white;
}
#addapp : focus {
background-color: blue;
color : white;
}
#plist{
background-color : #e8e8ea;
border : 2px solid #d0d0d5;
margin : auto;
position : relative;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.drag-area{
border: 2px solid #bdb8b8;
height: 350px;
width: 100%;
background-color: white;
/* border-radius: 5px; */
/* padding: 30px; */
margin: 10px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.drag-area .icon{
font-size: 100px;
color: black;
}
.drag-area header{
font-size: 30px;
font-weight: 500;
color: #393737;
}
.drag-area span{
font-size: 20px;
font-weight: 400;
color: #585555;
margin: 10px 0 15px 0;
}
.drag-area label{
padding: 10px 25px;
font-size: 20px;
font-weight: 500;
border: 2px solid black;
outline: none;
background: #242121;
color: #f2f2f7;
/* border-radius: 5px; */
cursor: pointer;
}
.drag-area img{
height: 100%;
width: 100%;
object-fit: cover;
}
#submit_btn {
width: 190px;
border-radius: 0;
border: 2px solid #da6224;
background-color: #ff9b83;
color: black;
}

.task{
border: 2px solid #bdb8b8;
width: 100%;
background-color: white;
/* border-radius: 5px; */
/* padding: 30px; */
margin: 10px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}


.task img{
height: 100%;
width: 100%;
object-fit: cover;
}

.bt1:hover {
    color:white;
    background-color:blue;
    text-decoration : none;
}

.current{
width : 130px;
border : 2px solid blue;
border-radius : 5px;
color : white;
background-color: blue;
text-decoration: none;
}