#header {
background-color: #d0d0d5;
}
#welcome {
text-align : center;
}
#pdpage {
background-color: #d0d0d5;
height : 80px;
width : 100%;
margin: 0px;
}
#pdr1 {
height : 80vh;
margin : 0;
}
#pdc1 {
background-color: #d0d0d5;
}
#btdiv {
justify-content : center;
}
.bt1 {
width : 130px;
border : 2px solid blue;
border-radius : 5px;
color : blue;
background-color: white;
text-decoration : none;
}
#cont1 {
height : 80vh;
align-items : center;
justify-content : center;
}
#home : focus {
background-color: blue;
color : white;
}
#addapp : focus {
background-color: blue;
color : white;
}
#plist{
background-color: #e8e8ea;
border: 2px solid #d0d0d5;
/* margin: 50px; */
margin-top: 50px;
position: relative;
width: 500px;
}
#tlist{
margin-top: 5px;
background-color : #e8e8ea;
border : 2px solid #d0d0d5;
position : relative;
}

.bt1:hover {
    color:white;
    background-color:blue;
    text-decoration: none;
}

.current{
width : 130px;
border : 2px solid blue;
border-radius : 5px;
color : white;
background-color: blue;
text-decoration : none;
}