<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Edit product</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{%static 'font-awesome/css/font-awesome.min.css' %}"
    />
    <script src="{% static 'js/edit_product.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/edit_product.css' %}"/>
  </head>

  <body>
    <div>
      <div id="header">
        <div style="font-size: small; height: 25px; padding: 2px; color: #b0aaaa">
          <i class="fa fa-circle" ></i>
          <i class="fa fa-circle" ></i>
          <i class="fa fa-circle" ></i>
        </div>

      </div>
      <div>
        <h2 id="welcome">Hello Admin</h2>
      </div>
      <div id="pdpage"></div>
      <div class="row" id="pdr1">
        <div class="col-lg-2 col-md-2" id="pdc1">
          <div id="btdiv" class="d-flex justify-content-center">
            <div>
              <ol style="list-style-type: none; padding: 5px">
                <li class="actbt">
                  <a class="bt1 d-block my-2 d-flex align-items-center" id="home" href="/homepage">
                    <i class="fa fa-home mx-2"></i>
                    <span>Home</span>
                  </a>
                  <a class="bt1 d-block my-2 d-flex align-items-center" id="profile" href="/products">
                    <i class="fa fa-user mx-2"></i>
                    <span>Add App</span>
                  </a>
                  <a class="bt1 d-block my-2 d-flex align-items-center" id="signout" href="/signout">
                    <i class="fa fa-power-off mx-2"></i>
                    <span>Logout</span>
                  </a>
                </li>
              </ol>
            </div>
          </div>
        </div>

        <div
          class="col-lg-10 col-md-10 d-flex align-items-center justify-content-center"
        >
          <form
            id="add_product"
            action=""
            method="post"
            enctype="multipart/form-data"
          >
            {%csrf_token%}
            {% if data %}
            <div class="container row p-4" id="cont1">
              <div class="col-12 text-center">
<!--                <label for="logo_inp" id="glab">-->
<!--                  <img id="logo" src="{{data.App_logo}}" />-->
<!--                </label>-->
<!--                <p id="lab_i">-->
<!--                  <strong-->
<!--                    >Please click on the image to change .</strong-->
<!--                  >-->
<!--                </p>-->
                <input
                  type="file"
                  class="d-none"
                  id="logo_inp"
                  name="App_logo"
                  value="{{data.App_logo}}"
                  accept="image/*"
                  onchange="loadFile(event)"
                />

                <label for="logo_inp" id="lab_img"></label>
                <p>
                  <img
                    src=""
                    id="output"
                    width="200"
                    style="border-radius: 20px"
                  />
                </p>
                <script>
                console.log('gbnm')
              var inp_url = document.getElementById('logo_inp')
              var image = document.getElementById('output');
              image.src= inp_url.defaultValue ;
              image.height = "200";
              var dab_tag = document.getElementById('lab_img')
              dab_tag.innerText = "Please click here to change image"
                  </script>
                <small></small>
                <small></small>
              </div>
              <div class="inp col-lg-6 text-center">
                <input
                  class="form-control w-75 mx-auto"
                  type="text"
                  name="App_name"
                  placeholder="Application name"
                  onchange="field_validation()"
                  value="{{data.App_name}}"
                  required
                />
                <small></small>
              </div>
              <div class="inp col-lg-6 text-center">
                <input
                  class="form-control w-75 mx-auto"
                  type="url"
                  name="App_link"
                  placeholder="App url"
                  onchange="field_validation()"
                  value="{{data.App_link}}"
                  required
                />
                <small></small>
              </div>
              <div class="inp col-lg-6 text-center">
                <select
                  class="form-control w-75 mx-auto"
                  id="category"
                  name="App_category"
                >

                </select>
                  <p id ="cid" style="display:none;">{{data.App_category}}</p>
              </div>
              <div class="inp col-lg-6 text-center">
                <select
                  class="form-control w-75 mx-auto"
                  id="subcategory"
                  name="Sub_category"
                  onchange="field_validation()"
                >

                </select>
                  <p id ="scid" style="display:none;">{{data.Sub_category}}</p>
              </div>
              <div class="col-12 text-center">
                <input
                  class="pnt"
                  type="text"
                  name="Points"
                  id="point_id"
                  placeholder="ADD POINTS"
                  onkeyup="field_validation()"
                  onchange="point_fun()"
                  value="{{data.Points}} POINTS"
                  required
                />
                <small></small>
              </div>

              {% if messages %}
                    <div>
                      <p id="err" style="display: None">{{messages}}</p>
                      <script>
                        window.onload = function () {
                          error_fun();
                        };
                      </script>
                    </div>
              {% endif %}
              <button
                class="btn btn-primary btn-block mt-4"
                id="submit_btn"
              >
                SUBMIT
              </button>
            </div>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
