<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>django</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
    <script src="{% static 'js/signup.js' %}" defer></script>
  </head>
  <body>
    <div>
      <!-- Section: Design Block -->
      <section
        class="section background-radial-gradient overflow-scroll d-flex align-items-center"
      >
        <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
          <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
              <h1
                class="my-5 display-5 fw-bold ls-tight"
                style="color: hsl(218, 81%, 95%)"
              >
                Welcome! <br />
                <span style="color: hsl(218, 81%, 75%)"
                  >NextGrowth's Django Evaluation Task</span
                >
              </h1>
              <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                Please create your account!
              </p>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
              <div
                id="radius-shape-1"
                class="position-absolute rounded-circle shadow-5-strong"
              ></div>
              <div
                id="radius-shape-2"
                class="position-absolute shadow-5-strong"
              ></div>

              <div class="card bg-glass">
                <div class="card-body px-3 py-3 px-md-4">
                  <h1 class="head py-4 pb-4">CREATE ACCOUNT</h1>
                  <form
                    id="signup"
                    action=""
                    method="post"
                    enctype="multipart/form-data"
                  >
                    {% csrf_token %}

                    <div class="row">
                      <div class="col mb-4 ml-3 mr-3">
                        <div class="form-outline">
                          <input
                            placeholder="Name"
                            type="text"
                            class="form-control"
                            name="first_name"
                            id="first_name"
                            required
                          />
                          <small></small>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col mb-4 ml-3 mr-3">
                        <div class="form-outline">
                          <input
                            placeholder="username"
                            type="text"
                            class="form-control"
                            name="username"
                            id="username"
                          />
                          <small></small>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col mb-4 ml-3 mr-3">
                        <div class="form-outline">
                          <input
                            placeholder="email"
                            type="email"
                            class="form-control"
                            name="email"
                            id="email"
                            required
                          />
                          <small></small>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col mb-4 ml-3 mr-3">
                        <div class="form-outline">
                          <input
                            placeholder="password"
                            type="password"
                            class="form-control"
                            name="password"
                            id="pass1"
                            required
                            autocomplete="off"
                          />
                          <small id="error"></small>
                        </div>
                      </div>
                    </div>
                    {% if messages %}
                    <div>
                      <p id="err" style="display: None">{{messages}}</p>
                      <script>
                        window.onload = function () {
                          error_fun();
                        };
                      </script>
                    </div>
                    {% endif %}

                    <!-- Submit button -->
                    <button class="btn btn-primary btn-block mt-4">
                      Sing up
                    </button>
                  </form>
                  <br />

                  <p>Already have account? <a href="/signin">Login</a></p>
                  <br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Design Block -->
    </div>
  </body>
</html>
