<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>django</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <script src="{% static 'js/signin.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/signin.css' %}" />
  </head>
  <body>
    <div>
      <!-- Section: Design Block -->
      <section
        class="section background-radial-gradient overflow-scroll d-flex align-items-center"
      >
        <div class="container px-4 py-5 px-md-5 text-center text-lg-start">
          <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
              <h1
                class="my-5 display-5 fw-bold ls-tight"
                style="color: hsl(218, 81%, 95%)"
              >
                Welcome! <br />
                <span style="color: hsl(218, 81%, 75%)"
                  >NextGrowth's Django Evaluation Task</span
                >
              </h1>
              <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                Please Login to your account!
              </p>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
              <div
                id="radius-shape-1"
                class="position-absolute rounded-circle shadow-5-strong"
              ></div>
              <div
                id="radius-shape-2"
                class="position-absolute shadow-5-strong"
              ></div>

              <div class="card bg-glass">
                <div class="card-body px-4 py-3 px-md-5">
                  <h1 class="py-4 pb-4">Login</h1>
                  <form action="/signin" method="post" id="signin" class="form">
                    {% csrf_token %}
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row">
                      <div class="col-md-12 mb-4">
                        <div class="form-outline form-field">
                          <input
                            placeholder="username"
                            type="text"
                            class="form-control"
                            name="username"
                            id="username"
                          />
                          <small></small>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 mb-4">
                        <div class="form-outline form-field">
                          <input
                            placeholder="password"
                            type="password"
                            class="form-control"
                            name="password"
                            id="password"
                            autocomplete="off"
                          />
                          <small></small>
                        </div>
                      </div>
                    </div>

                    {% if messages %}

                    <p id="err" style="display: none">{{messages}}</p>

                    <script>
                      window.onload = function () {
                        error_fun();
                      };
                    </script>
                    {% endif %}

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block">
                      Login
                    </button>
                  </form>
                  <p class="mt-3">
                    Don't have account? <a href="/signup">Signup</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Design Block -->
    </div>
  </body>
</html>
