<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{%static 'font-awesome/css/font-awesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script src="{% static 'js/task_upload.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/task_upload.css' %}" />
  </head>

  <body>
    <div>
      <div id="header">
        <div
          style="font-size: small; height: 25px; padding: 2px; color: #b0aaaa"
        >
          <i class="fa fa-circle"></i>
          <i class="fa fa-circle"></i>
          <i class="fa fa-circle"></i>
        </div>
      </div>
      <div>
        <h2 id="welcome">Hello {{user}}</h2>
      </div>
      <div class="row justify-content-center" id="pdpage">
        <div class="col-lg-8 col-md-8">
          <a href="/user/home">&le;Back</a>
        </div>
      </div>
      <div class="row" id="pdr1">
        <div class="col-lg-2 col-md-2" id="pdc1">
          <div id="btdiv" class="d-flex justify-content-center">
            <div>
              <ol style="list-style-type: none; padding: 5px">
                <li class="actbt">
                  <a class="bt1 d-block my-2 d-flex align-items-center" id="home" href="/user/home">
                    <i class="fa fa-home mx-2"></i>
                    <span>Home</span>
                  </a>
                  <a class="bt1 d-block my-2 d-flex align-items-center" id="profile" href="/user/profile">
                    <i class="fa fa-user mx-2"></i>
                    <span>Profile</span>
                  </a>
                  <a class="bt1 d-block my-2 d-flex align-items-center" id="points" href="/user/points">
                    <i class="fa fa-plus mx-2"></i>
                    <span>Points</span>
                  </a>
                  <a class="bt1 d-block my-2 d-flex align-items-center" id="task" href="/user/task/view">
                    <i class="fa fa-calendar-check-o mx-2"></i>
                    <span>Task</span>
                  </a>
                  <a class="bt1 d-block my-2 d-flex align-items-center" id="signout" href="/signout">
                    <i class="fa fa-power-off mx-2"></i>
                    <span>Logout</span>
                  </a>
                </li>
              </ol>
            </div>
          </div>
        </div>

        <div class="col-md-10 p-3">
          {% if messages %}
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container-fluid" id="plist">
              <div
                class="row m-2 d-flex text-align-center justify-content-center p-3"
              >
                <div class="col-sm-3" style="margin: auto">
                  <img
                    src="{{messages.App_logo}}"
                    alt="App logo"
                    width="100"
                    height="100"
                  />
                </div>
                <div class="col-md-6 pt-4">
                  <p
                    style="
                      font-size: x-large;
                      font-weight: bold;
                      text-transform: capitalize;
                    "
                  >
                    {{messages.App_name}}
                  </p>
                  <a href="{{messages.App_link}}">{{messages.App_link}}></a>
                </div>
                <div class="col-sm-3 pt-4">
                  <p class="pnt" id="point_id" style="text-align: center">
                    {{messages.Points}} POINTS
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="drag-area" id="drg">
                  <div class="icon">
                    <i class="fas fa-cloud-upload-alt"></i>
                  </div>
                  <header>Drag & Drop to Upload File</header>
                  <span>OR</span>
                  <label for="inp_scr">Browse File</label>
                  <input id="inp_scr" type="file" class="d-none" />
                </div>
                {% if task %}
                <div class="task">
                  <img id="task_img" src="{{task}}" width="100" height="100" />
                  <script>
                    let drg = document.getElementById("drg");
                    drg.parentNode.removeChild(drg);
                  </script>
                </div>
                {% endif %}
              </div>
              <input
                name="App"
                type="number"
                style="display: none"
                value="{{messages.id}}"
              />
              <input
                id="screenshot"
                type="file"
                name="Screenshot"
                accept="image/*"
                style="display: none"
              />
              <div class="row" style="justify-content: center">
                <button
                  class="btn btn-primary btn-block mt-2"
                  id="submit_btn"
                  style="display: none; text-align: center"
                >
                  SUBMIT
                </button>
              </div>
            </div>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
