<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{%static 'font-awesome/css/font-awesome.min.css' %}"
    />
    <script src="{% static 'js/task_upload.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
  </head>

  <body>
    <div>
      <div id="header">
        <div
          style="font-size: small; height: 25px; padding: 2px; color: #b0aaaa"
        >
          <i class="fa fa-circle"></i>
          <i class="fa fa-circle"></i>
          <i class="fa fa-circle"></i>
        </div>
      </div>
      <div>
        <h2 id="welcome">Hello {{user}}</h2>
      </div>
      <div id="pdpage"></div>
      <div class="row" id="pdr1">
        <div class="col-lg-2 col-md-2" id="pdc1">
          <div id="btdiv" class="d-flex justify-content-center">
            <div>
              <ol style="list-style-type: none; padding: 5px">
                <li class="actbt">
                  <a class="bt1 d-block my-2 d-flex align-items-center" id="home" href="/user/home">
                    <i class="fa fa-home mx-2"></i>
                    <span>Home</span>
                  </a>
                  <a class="bt1 d-block my-2 d-flex align-items-center" id="profile" href="/user/profile">
                    <i class="fa fa-user mx-2"></i>
                    <span>Profile</span>
                  </a>
                  <a class="bt1 d-block my-2 d-flex align-items-center" id="points" href="/user/points">
                    <i class="fa fa-plus mx-2"></i>
                    <span>Points</span>
                  </a>
                  <a class="bt1 d-block my-2 d-flex align-items-center" id="task" href="/user/task/view">
                    <i class="fa fa-calendar-check-o mx-2"></i>
                    <span>Task</span>
                  </a>
                  <a class="bt1 d-block my-2 d-flex align-items-center" id="signout" href="/signout">
                    <i class="fa fa-power-off mx-2"></i>
                    <span>Logout</span>
                  </a>
                </li>
              </ol>
            </div>
          </div>
        </div>

        <div class="col-md-10 p-3">
          {% for i in messages %}
          <div class="container-fluid">
            <div
              id="plist"
              class="row m-2 d-flex text-align-center justify-content-center p-3"
            >
              <div class="col-sm-3" style="margin: auto">
                <img
                  src="{{i.App_logo}}"
                  alt="App logo"
                  width="100"
                  height="100"
                />
              </div>
              <div class="col-md-6 pt-4">
                <p
                  style="
                    font-size: x-large;
                    font-weight: bold;
                    text-transform: capitalize;
                  "
                >
                  {{i.App_name}}
                </p>
                <a href="task/{{i.id}}">View in Detail></a>
              </div>
              <div class="col-sm-3 pt-4">
                <p class="pnt" id="point_id" style="text-align: center">
                  {{i.Points}} POINTS
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
